@import "vars.less";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: @font, sans-serif;
   background-color: @color1;
}

.header {
   margin: @center;
   padding-top: 30px;
   min-width: 300px;
   max-width: 600px;
   margin-bottom: 70px;

   h1 {
      color: @color3;
      text-transform: uppercase;
      font-size: 40px;
      transform: rotateZ(1);

      &:hover {
         transform: rotateZ(360deg);
         cursor: pointer;
         transition-duration: 1s;
      }
   }

   p {
      background: @color2;
   }
}


.list {
   margin: @center;
   min-width: 300px;
   max-width: 600px;
   min-height: 300px;
   border-radius: 10px;
   background-color: @color4;
   padding: 20px;
}

.form {
   display: flex;
   padding: 5px;
   min-height: 50px;
   margin-bottom: 5px;
   border-radius: 5px;
   border: @border;
   background-color: @color2;
   justify-content: center;
}

.submit {
   font-size: 20px;
   color: #f7f7f7;
   width: 100px;
   height: 40px;
   background: @color3;
   border: @border;
   border-radius: 0px 5px 5px 0px;

   &:hover {
      background: @color1;
      transition-duration: 0.5s;
      cursor: pointer;
   }
}

.tasks {
   border: @border;
   padding: 3px;
   max-width: 300px;
   min-width: 120px;
   height: 40px;
   font-size: 20px;
   color: #666666;
   border-radius: 5px 0px 0px 5px;
}

.todo {
   display: flex;
   flex-direction: column;
}

.todo__item {
   margin-bottom: 5px;
   background-color: @color2;
   border-radius: 5px;
   padding: 5px 10px;
   min-height: 40px;
   border: @border;
   display: flex;
   justify-content: space-between;
   list-style: none;

   p {
      max-width: 500px;
      font-size: 20px;
      color: whitesmoke;
   }

   input:checked~p {
      text-decoration: line-through;

   }
   input:hover{
      cursor: pointer;
      opacity:1;
   }
}

button.delete img:hover {
   transform: rotateZ(360deg);
   cursor: pointer;
   transition-duration: 0.5s;
   border-radius: 5px;
   background-color: red;
}

button.edit img:hover {
   transform: scale(2);
   cursor: pointer;
   transition-duration: 0.5s;
   border-radius: 5px;
   background-color: rgb(145, 199, 59);
}

.btns button {
   background-color: @color1;
   border-radius: 5px;

   & img {
      height: 25px;
      transform: rotateZ(0);
      transition: transform 200ms ease-in;
   }

}